<div>
  <form hx-post="/login">
    <div id="email-div">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        id="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.(com|org|net|edu)$"
        title="Please input a valid email address that ends with .com, .org, .net, or .edu"
      />
    </div>
    <div id="password-div">
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" required />
    </div>
    <div id="buttom-div">
      <input type="submit" value="Login" />
    </div>
  </form>
</div>
