<div>
    <form hx-post="/register">
        <div id="username-div">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div id="email-div">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" required>
        </div>
        <div id="password-div">
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" required>
        </div>
        <div id="buttom-div">
            <input type="submit" value="Register">
        </div>
    </form>
</div>